Q1. Create one variable containing following type of data:

In [2]:
a=["hello",[1,2,3],1.20,('b','c')]

['hello', [1, 2, 3], 1.2, ('b', 'c')]

Q2. What will be the data type of the above given variable.

In [4]:
var1 = ‘ ‘
type(var1)

SyntaxError: invalid character '‘' (U+2018) (3647581571.py, line 1)

In [5]:
 var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (100285119.py, line 1)

In [6]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: invalid character '‘' (U+2018) (763556664.py, line 1)

In [7]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:

In [9]:
a=10/5
a

2.0

In [10]:
b=10%5
b

0

In [11]:
c=10//5
c

2

In [12]:
d=10**5
d

100000

In [17]:
l=[1,2,3,4,"pwskills","niki",2.0,('a','b'),2+3j,False]

In [18]:
for i in l:
    print(i)
    print(type(i))
    if i == False:
        break

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
pwskills
<class 'str'>
niki
<class 'str'>
2.0
<class 'float'>
('a', 'b')
<class 'tuple'>
(2+3j)
<class 'complex'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [58]:
a = 10
b = 2
count = 0

while a % b == 0:
    count += 1
    a /= b

if count > 0:
    print("A is divisible by B and it can be divided", count, "times.")
else:
    print("A is not divisible by B.")

A is divisible by B and it can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [32]:
total=0
for i in l:
    if i % 3 == 0:
        print("Divisible",i)
    else:
        print("Not Divisible",i)

not 1
not 2
Divisible 3
not 4
not 5
Divisible 6
not 7
not 8
Divisible 9
not 10
not 11
Divisible 12
not 13
not 14
Divisible 15
not 16
not 17
Divisible 18
not 19
not 20
Divisible 21
not 22
not 23
Divisible 24
not 25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [48]:
n=[1,2,3,4,5,"niki","ani",3+6j,2.03]

In [49]:
type(n)

list

In [50]:
n[6]

'ani'

In [51]:
n[6]=70
n

[1, 2, 3, 4, 5, 'niki', 70, (3+6j), 2.03]

In [55]:
n[2]='e'
n

[1, 2, 'e', 4, 5, 'niki', 70, (3+6j), 2.03]